<app-nav></app-nav>
<section class="pb_section pb_section_v1" data-section="about" id="section-about">
  <div class="container">
    <div class="row justify-content-center mt-5">    
      <div class="col-12 rounded d-flex flex-wrap justify-content-center p-3 form">
          <div class="rounded p-1 text-center" style="color: white; background-color: rgb(53, 51, 51);">
            <h2>ENCUESTA SALA DE JUEGOS</h2>
            <form action="">
                <label>
                    <input type="radio" value="0">0
                </label>
                <label >
                    <input type="radio" value="1">1
                </label>
                <label >
                    <input type="radio" value="2">2
                </label>
            </form>
            <!-- <table>
                <tr>
                  <th>ENCUESTA SALA DE JUEGOS</th>
                </tr>
                <tr>
                  <td>Nombre</td>
                </tr>
                <tr>
                    <input type="text">
                </tr>
                <tr>
                  <td>Apellido</td>
                </tr>
                <tr>
                    <input type="text">
                </tr>
                <tr>
                  <td>Edad</td>
                </tr>
                <tr>
                    <input type="text">
                </tr>
                <tr>
                  <td>Numero de telefono</td>
                </tr>
                <tr>
                    <input type="text">
                </tr>
                <tr>
                  <td>Cuanto se divirtio usando esta sala de juegos? (1-10)</td>
                </tr>
                <tr>
                    <input type="text">
                </tr>
                <tr>
                  <td>Cuantos juegos agregaria?</td>
                </tr>
                <tr>
                    <label>
                        <input type="radio" value="0">0
                    </label>
                    <label >
                        <input type="radio" value="1">1
                    </label>
                    <label >
                        <input type="radio" value="2">2
                    </label>
                </tr>
                <tr>
                  <td>Que cambios realizaria?</td>
                </tr>
                <tr>
                    <input type="text">
                </tr>
              </table> -->
          </div>
      </div>
    </div>
  </div>  
</section>