<app-nav></app-nav>
<section class="pb_section pb_section_v1" data-section="about" id="section-about">
  <div class="container">
    <div class="row justify-content-center mt-5">    
      <div class="col-12 rounded d-flex flex-wrap justify-content-center p-3 form">
          <div class="rounded p-1 text-center" style="color: white; background-color: rgb(53, 51, 51);">         
            <table>
                <tr>
                  <th>ENCUESTA SALA DE JUEGOS</th>
                </tr>
                <tr>
                  <td>Nombre</td>
                </tr>
                <tr>
                    <input matInput [(ngModel)]= "nombre" name="fieldName" ngDefaultControl>
                </tr>
                <tr>
                  <td>Apellido</td>
                </tr>
                <tr>
                    <input type="text" [(ngModel)]= "apellido" name="fieldName" ngDefaultControl>
                </tr>
                <tr>
                  <td>Edad</td>
                </tr>
                <tr>
                    <input type="number" min="18" max="99" [(ngModel)]= "edad" name="fieldName" ngDefaultControl>
                </tr>
                <tr>
                  <td>Numero de telefono</td>
                </tr>
                <tr>
                    <input type="number" maxlength="10" [(ngModel)]= "nroTel" name="fieldName" ngDefaultControl>
                </tr>
                <tr>
                  <td>Cuanto se divirtio usando esta sala de juegos? (1-10)</td>
                </tr>
                <tr>
                    <mat-slider
                    thumbLabel
                    tickInterval="1"
                    step="1"
                    min="1"
                    max="10"
                    aria-label="units" [(ngModel)]= "preg1" name="fieldName" ngDefaultControl></mat-slider>
                </tr>
                <tr>
                  <td>Cuantos juegos agregaria?</td>
                </tr>
                <tr>
                <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="0" checked [(ngModel)]= "preg2" name="fieldName" ngDefaultControl >0</mat-radio-button>
                <mat-radio-button value="1" [(ngModel)]= "preg2" name="fieldName" ngDefaultControl>1</mat-radio-button>
                <mat-radio-button value="2" [(ngModel)]= "preg2" name="fieldName" ngDefaultControl>2</mat-radio-button>
              </mat-radio-group>
                </tr>
                <tr>
                  <td>Que cambios realizaria?</td>
                </tr>
                <tr>
                    <input type="text" [(ngModel)]= "preg3" name="fieldName" ngDefaultControl>
                </tr>
                <tr>
                    <button mat-raised-button style="margin-top: 15px" (click)="enviarResultados()">Enviar encuesta</button>
                </tr>
              </table>
          </div>
      </div>
    </div>
  </div>  
</section>