<app-nav></app-nav>
<div>
    <div style="align-content: center; margin-top: 5px;">
        <img [src]="cartaInicial.img" height= "216px" width= "140px" style="margin-left: 45%; margin-right: 40%;"/>
    </div>
  
    <div style="margin-top: 10%;">
        <div style="float: left; margin-left:576px;">        
            <img [src]="cartaAComparar.img" height="216px" width="140px" style="margin-left: 41%; margin-right: 40%;"/>
        </div>
        
        <div style="float: left; background-image: url(../../../assets/cartas/0.png); height: 216px; width: 140px !important; margin-right: 0; margin-left: 150px;">

            <button class="btn btn-light w-75" style="margin-top: 20px; margin-left: 18px; margin-right: auto;" (click) = "inicializarCarta()">Jugar</button>
        
            <button *ngIf="this.inicio" class="btn btn-warning w-75" style="margin-top: 40px; margin-left: 18px; margin-right: auto;" (click) = "comparar(1)">Mayor</button>
 
            <button *ngIf="this.inicio" class="btn btn-warning w-75 mb-2" style="margin-top: 25px; margin-left: 18px; margin-right: auto;" (click) = "comparar(2)">Menor</button>
        </div>
    </div>
   
</div>
