<app-nav></app-nav>
<section class="pb_section pb_section_v1" data-section="about" id="section-about">
  <div class="container">
    <div class="row justify-content-center mt-5">    
      <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xxl-4 col-xl-4 rounded d-flex flex-wrap justify-content-center p-3 form">
          <div class="rounded p-1 text-center fs-5" style="color: white; background-color: rgb(53, 51, 51);">
              <p class="p-2 m-0">Mi juego:  Aproxima2</p>
              <p class="p-2 m-0">El juego te asigna un número (en un rango de 100 a 500). El jugador debe acercarse a dicho numero,
                tiene como máximo 7 jugadas.
                Como acercarse: a partir de operaciones matemáticas (+,-,*,/) entre un número de los 6 mostrados en pantalla (al azar
                entre 1 y 20 representados con botones) y el primer operando que siempre empieza en 0 (aquí es donde se irá acumulando el
                resultado de las operaciones).
                El jugador debe elegir que número de los 6 y que operacion realizar.
                El juego tiene un sistema de puntajes dependiendo de cuanto se acerque el resultado al número asignado al inicio (20 o menos = 7 puntos,
                10 o menos = 8 puntos, 5 o menos = 9 puntos y si es igual 10 puntos).
              </p>
          </div>
      </div>
    </div>
  </div>  
</section>